@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check out Category Details <a class="text-dark" asp-area="" asp-controller="CategoryDetails" asp-action="Index">here</a>.</p>
</div>
