html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa !important
}

.table-product td {
    border-top: 0px solid #dee2e6 !important;
    color: #728299 !important;
}